<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.mapper.ShopMapper">

<!-- 		<select id="selShop" resultType="Shop">
			select * from shop
			<where>
				<if test="shopname!=null and shopname!=''">
				and shopname=#{shopname}
				</if>
				<if test="address!=null and address!=''">
				and address like '%#{address}%'
				</if>
			</where>	
		</select> -->

</mapper>